
.card {
    margin: 10px;
    width: 95vw;
    height: 120px;
    border-radius: 10px;
    cursor: pointer;
}

.engine-card {
    background-color: rgb(31, 109, 177);
}

.battery-card {
    background-color: rgb(19, 139, 45);
}

.tyre-card {
    background-color: rgb(187, 33, 72);
}

.care-products-card {
    background-color: rgb(187, 82, 33);
}

.card h1 {
    padding: 10px;
    color: white;
    font-weight: 100;
}

.no-underline {
    text-decoration: none;
}